* {
  font-family: "Nunito", sans-serif;
}
h1 {
  font-family: "Mozilla Headline", sans-serif;
  font-size: 36px;
}
body {
  animation: aditya 1s infinite;
  display: flex;
  align-items: center;
  justify-content: center;
}

.outer {
  margin-top: 25vh;
  text-align: center;
  border: 15px solid rgb(0, 0, 0);
  background-color: lightgreen;
  margin-left: 50px;
  margin-right: 50px;
}

.box {
  padding: 50px;
  background-color: lightblue;
  border: 5px solid black;
  border-radius: 20px;
  margin: 50px;
}
.head {
  border-radius: 20px;
  font-weight: bold;
  background-color: wheat;
  padding: 20px;
}
@keyframes aditya {
  0% {
    background-color: rgb(255, 0, 0);
  }
  10% {
    background-color: rgb(255, 128, 0);
  }
  20% {
    background-color: rgb(255, 255, 0);
  }
  30% {
    background-color: rgb(128, 255, 0);
  }
  40% {
    background-color: rgb(0, 255, 0);
  }
  50% {
    background-color: rgb(0, 255, 128);
  }
  60% {
    background-color: rgb(0, 255, 255);
  }
  70% {
    background-color: rgb(0, 128, 255);
  }
  80% {
    background-color: rgb(0, 0, 255);
  }
  90% {
    background-color: rgb(128, 0, 255);
  }
  100% {
    background-color: rgb(255, 0, 255);
  }
}

